.menu-bar ul li.active{
    border-bottom: none !important;
    font-weight: 500;
}
ul li a {
    color: #000 !important;
}

.bt-btn-atc{
    color: #fff !important;
    background-color: #0070c9 !important;

}
.bt-btn-atc:hover{
    color: #0070c9 !important;
    background-color: #fff !important;
    border-color: #0070c9 !important;

}


.social-wrapper .social .jumbotron {
    height: 50vh !important;
    

}
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #0CB4CE;
}

::selection {
    color: #fff;
    background: #0CB4CE;
}

.fw-500{
    font-weight: 500;
}
.nav-tabs-linetriangle > li > a.active:after {
    border-top-color: #fff !important;

}

.nav-tabs-linetriangle:after{
    border: none !important;
}
.nav-tabs-linetriangle > li > a.active:before{
    border: none !important;
}
* {
    color: #333333;
}
.horizontal-app-menu .header{
    background-color: #333333 !important;
}

.hint-text{
    color: #888 !important;
}

.f15{
    font-size: 15px !important;
}
.f17{
    font-size: 17px !important;
}
.f24{
    font-size: 24px !important;
}
.f22{
    font-size: 22px !important;
}
.f32{
    font-size: 32px !important;
}


ul.lg-icon > li span,
ol.lg-icon > li span {
    font-size: 17px !important;
}
.h3{
    font-size: 32px !important;
}
.h2{
    font-size: 24px !important;
}
.h1{
    font-size: 40px !important;
}
.p{
    font-size: 15px !important;
}

.swiper-button-prev, .swiper-button-next{
    margin-top: -45px !important;
}

